/**********TAG SELECTOR***********/

body {
  background-color: #d5e1ef;
}

/**********CLASS SELECTOR**********/

.attribution {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.attribution a {
  text-decoration: none;
}

.attribution a:hover {
  background-color: #2c3b4e;
  color: #d5e1ef;
}

.container {
  display: flex;
  flex-flow: column wrap;
  width: 23%;
  margin: 10rem auto;
  background-color: white;
  border-radius: 3%;
  text-align: center;
}

.qr-img {
  width: 95%;
  margin: 0.625rem auto;
  border-radius: 3%;
}

.title {
  color: #2c3b4e;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 3%;
  margin: auto;
  width: 90%;
  font-weight: 1000;
}

.description {
  color: #aaaeb8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0 0 3.75rem;
  padding: 3%;
  font-size: x-large;
  width: 90%;
}

/**********ID SELECTOR***********/
