/**********TAG SELECTOR***********/

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
 
}

/**********CLASS SELECTOR**********/

.footer {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  text-align: center;
 
}
.footer a {
  text-decoration: none;
}

.footer a:hover {
  background-color:hsl(218, 44%, 22%);
  color: hsl(212, 45%, 89%);
}

.main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 16px;
  margin: 10rem auto;
  background-color: white;
  border-radius: 3%;
  text-align: center;
}

.qr-img {
  max-width: 100%;
  
  border-radius: 3%;
}

.title {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-family: 'Outfit', sans-serif;
  padding: 3%;
  margin: auto;
  font-weight: 600;
  /*font-size: 0.9375rem;*/
}

.description {
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 3%;
  font-size: 1.38rem;
  font-weight: 400;
  
}

/**********ID SELECTOR***********/
